{% extends 'layout.html' %}

{% block page %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>CarpFace</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      {% include 'sidebar.html' %}
    </div>
    <div class="col-xs-12 col-md-9">
      {% include 'results.html' %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- pre-reqs for date picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css"/>
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
{% endblock %}