<html>
  <head>
    <title>CarpFace</title>
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/search.js"></script>
    <style type="text/css">
      td, th { border: 0 !important; }
    </style>
  </head>
  <body>
    {% block page %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
  </body>
</html>
