<div class="option-holder">
  <h3>Search a date range</h3>
  <input type="text" class="form-control" name="datefilter" value="" placeholder="Click here!" />
  <!-- <div class="year">
    <select>
      {% for year in dates %}
      <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>
  </div>
  <ul class="options">
    <li name="january">Jan</li>
    <li name="february">Feb</li>
    <li name="march">Mar</li>
    <li name="april">Apr</li>
    <li name="may">May</li>
    <li name="june">Jun</li>
    <li name="july">Jul</li>
    <li name="august">Aug</li>
    <li name="september">Sep</li>
    <li name="october">Oct</li>
    <li name="november">Nov</li>
    <li name="december">Dec</li>
  </ul> -->
</div>